---
import Layout from '../../layouts/default.astro';
import { wpquery } from '../../data/wordpress';

export async function getStaticPaths() {
  const data = await wpquery({
    query: `
      query LoadAllPosts {
        posts {
          nodes {
            title
            slug
            featuredImage {
              node {
                mediaItemUrl
                srcSet
                sizes
                altText
              }
            }
            content(format: RENDERED)
            author {
              node {
                name
              }
            }
          }
        }
      }
    `,
  });

  return data.posts.nodes.map((post: any) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
---

<Layout title="An Example Blog Post">
  <img
    src={post.featuredImage.node.mediaItemUrl}
    srcset={post.featuredImage.node.srcSet}
    sizes={post.featuredImage.node.sizes}
    alt={post.featuredImage.node.alt}
  />

  <h1>{post.title}</h1>

  <p class="byline">Written by {post.author.node.name}</p>

  <Fragment set:html={post.content} />

  <p>
    <a href="/">&larr; back to all posts</a>
  </p>
</Layout>
